* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Elgoc";
    background: $black;
}

h1 {
    font-size: $fz-h1;
    font-weight: bold;
    line-height: 1.2;
    color: $white;
    margin: 0;
}

h2 {
    font-size: $fz-h2;
    font-weight: bold;
    line-height: 1.2;
    color: $white;
    margin: 0;
}

.close-button {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: $white;
    border: 1px solid $white;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
    transition: 200ms;

    &:hover {
      color: $black;
      background-color: $white;
    }
  }
